!!!
%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %title rezzo webapp
%body
  #wrapper
    %nav
      %h1 Rezzo
    %form{:action => "/", :method => "post", :enctype=>'multipart/form-data'}
      %fieldset
        %legend Resource Information
        %label{:for => "resource_info[resources]"} Resources:
        %select{:name => "resource_info[resources]", :class =>"resource_input"}
          %option{:value => "school"} School
          %option{:value => "water"} Water Pump
          %option{:value => "clinic"} Clinic
          %option{:value => "food"} Food Spot
          %option{:value => "other"} Other
        %br
        %label{:for => "resource_info[title]"} title:
        %br
        %input{:name => "resource_info[title]", :style => "width: 20em;", :type => "text", :class =>"resource_input"}/
        %br
        %label{:for => "resource_info[region]"} Region:
        %br
        %input{:name => "resource_info[region]", :style => "width: 20em;", :type => "text", :class =>"resource_input"}/
        %br
        %label{:for => "resource_info[notes]"} Notes:
        %br
        %textarea{:name => "resource_info[notes]", :style => "height:6em; width: 20em;", :class =>"resource_input"}
        %br
        %input(type='file' name='picture')
        %br
        %input(type='submit' value='Submit')
        .message
          %p= @message
          %p note: you need to take the photo with a gps enabled phone/camera.
          %p Email questions/comments at <a href="mailto:samsamkies@gmail.com"> samsamkies@gmail.com</a>

