/* some code taken from http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm */

body {
  margin:0;
  padding:0;
  border:0;     /* This removes the border around the viewport in old versions of IE */
  width:100%;
  background:#FFF;
  color:#000;
  font-size:90%;
  font-family: Arial, Helvetica, Geneva, sans-serif;
}

#wrapper {
  width:100%;
  border: 0px;
  border-spacing:0;
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
}

.entry {
  clear:both;
  display:block;\
}

.bar {
  clear:both;
  float:left;
  width:100%;
  border:0;
  border-spacing:0;
    border-collapse:collapse;
  margin:0;

}
#header {
  height:50px;
  vertical-align: middle;
    background:#000;
    color:#AAF;
  padding:0;
}

#menu {
  height:18px;
  font-size:12px;
    background:#00A;
    color:#FFF;
  padding:2px 20px;
}

.main {
  margin:30px;
  /*
  background-color:  rgb(235,245,255);
  background: url(images/blue_grad.gif) fixed;
  */
}

ul  {
    margin:0px 0px;
    padding:0px 20px;
    list-style-type:none;
    list-style-position:outside;
}

li {
  margin:2px;
}

fieldset {
  border:0;
  padding:15px;
}
.column {
  display: inline;
  float: left;
}
legend {
  font-weight: bold;
}
strong, h1 {
  padding:2px 20px;
  text-transform: uppercase;
  font-size: 20px;
  }

p {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: normal;
  font-size: 13px;
  }

ul {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: normal;
  font-size: 13px;
  }

