.navbar
  .navbar-inner
    .container
      %a.brand{:href => "/"} Rezzo
.container-fluid
  .row-fluid
    .span4
      .well
        %h4
          Address
          %small
            (
            %a#find_me{:href => "#"}> find me
            )
        %input#search_address.input-block-level{:placeholder => "Enter an address or an intersection", :type => "text"}/
        %label
          within
          %select#search_radius.input-small
            %option{:value => "400"} 2 blocks
            %option{:value => "805"} 1/2 mile
            %option{:value => "1610"} 1 mile
            %option{:value => "3220"} 2 miles
        %input#search.btn.btn-primary{:type => "button", :value => "Search"}/
        %button#reset.btn Reset
      .well
        .row-fluid
          %h4
            Recycling services
          %ul.inputs-list.unstyled
            %li
              %label.checkbox.inline
                %input#cbType1{:type => "checkbox", :checked => true}/
                %span.filter-box.filter-blue
                Hospital
            %li
              %label.checkbox.inline
                %input#cbType2{:type => "checkbox", :checked => true}/
                %span.filter-box.filter-green
                Clinic
            %li
              %label.checkbox.inline
                %input#cbType3{:type => "checkbox", :checked => true}/
                %span.filter-box.filter-red
                Water
            %li
              %label.checkbox.inline
                %input#cbType4{:type => "checkbox", :checked => true}/
                %span.filter-box.filter-red
                School
      %p#result_count.alert.alert-info.lead
    .span8
      #map_canvas
      %p.pull-right
        %a{:href => "http://derekeder.com/searchable_map_template/"} Searchable Map Template
        by
        = succeed "." do
          %a{:href => "http://derekeder.com"} Derek Eder
